#content {
  text-align: center;
}

#message {
  font-size: 1rem;
}

p.text {
  padding-top: 2px;
}

.gbqfif {
  border: 1px solid silver;
  padding: 5px;
  margin: 0px;
  height: auto;
  width: 525px;
  left: 0px;
}

.gbqfba {
  border: 1px solid #dcdcdc;
  border-color: rgba(0,0,0,0.1);
  color: #444!important;
  font-size: 11px;
  font: bold 11px/27px Arial,sans-serif;
  vertical-align: top;
  background: #f5f5f5;
  background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background: linear-gradient(top,#f5f5f5,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1);
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.flag {
  width: 21px;
  height: 15px;
  float: left;
  margin-top: -10px;
  margin-right: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.flag.usa {
  background-image: url('images/usa.gif');
}

.flag.bra {
  background-image: url('images/bra.gif');
}